<div class="container">
    <h5 class="text-center">Services Section</h5>
    <div class="row">
        <div class="col-md-12 col-lg-6 col-xl-6 mb-2 mt-2">
            <div class="card">
                <div class="card-header">
                    Component
                </div>
                <div class="card-body">
                    <p>Admin panels are created with specific tasks in mind and contain functions that help users focus on the functionality, content, and important data. Consider working with simple colors, fonts, and shapes not to overwhelm users with visual information.</p>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Go To Component</button>
                </div>
            </div>    
        </div>
        <div class="col-md-12 col-lg-6 col-xl-6 mb-2 mt-2">
            <div class="card">
                <div class="card-header">
                    Component
                </div>
                <div class="card-body">
                    <p>Admin panels are created with specific tasks in mind and contain functions that help users focus on the functionality, content, and important data. Consider working with simple colors, fonts, and shapes not to overwhelm users with visual information.</p>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Go To Component</button>
                </div>
            </div>    
        </div>
        <div class="col-md-12 col-lg-6 col-xl-6 mb-2 mt-2">
            <div class="card">
                <div class="card-header">
                    Component
                </div>
                <div class="card-body">
                    <p>Admin panels are created with specific tasks in mind and contain functions that help users focus on the functionality, content, and important data. Consider working with simple colors, fonts, and shapes not to overwhelm users with visual information.</p>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Go To Component</button>
                </div>
            </div>    
        </div>
        <div class="col-md-12 col-lg-6 col-xl-6 mb-2 mt-2">
            <div class="card">
                <div class="card-header">
                    Component
                </div>
                <div class="card-body">
                    <p>Admin panels are created with specific tasks in mind and contain functions that help users focus on the functionality, content, and important data. Consider working with simple colors, fonts, and shapes not to overwhelm users with visual information.</p>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Go To Component</button>
                </div>
            </div>    
        </div>
        <div class="col-md-12 col-lg-6 col-xl-6 mb-2 mt-2">
            <div class="card">
                <div class="card-header">
                    Component
                </div>
                <div class="card-body">
                    <p>Admin panels are created with specific tasks in mind and contain functions that help users focus on the functionality, content, and important data. Consider working with simple colors, fonts, and shapes not to overwhelm users with visual information.</p>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Go To Component</button>
                </div>
            </div>    
        </div>
        <div class="col-md-12 col-lg-6 col-xl-6 mb-2 mt-2">
            <div class="card">
                <div class="card-header">
                    Component
                </div>
                <div class="card-body">
                    <p>Admin panels are created with specific tasks in mind and contain functions that help users focus on the functionality, content, and important data. Consider working with simple colors, fonts, and shapes not to overwhelm users with visual information.</p>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Go To Component</button>
                </div>
            </div>    
        </div>
    </div>
</div>